body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*** header starts **/
.cart-index__header {
width:100%;
margin:0;
padding:0;
background-color:#33adff;
}
.cart-index__header .cart-index__header--logo {
    margin:0;
    padding:0;
}
.cart-inputsearch--index {
    width:60%;
}
.cart-index__header .cart-index__header--search {
    padding:0;
}
.cart-index__header--search .fa-search,
.cart-index__header--search .fa-shopping-cart {
    color: white;
    font-size:24px;
}
.cart-index__header .cart-index__header--search input {
    float:left;
    color:white;
    margin:20px 0 0 0;
    border:none;
    border-bottom:1px solid white;
    background-color: #33adff;
}
.cart-index__header .cart-index__header--search .fa {
    float:left;
    margin:20px 0 0 10px;
}
/*** header ends **/

/*** content starts **/
.cart-index__content {
    float:left;
    margin:0;
    padding:0 16px;
    min-height:495px;
    background-color: #f5f5f5;     
}
.cart-index__content .cart-index__slider {
    padding:0 16px 0 0;
}
.cart-index__content .cart-index__container {
    min-height:495px;
    border-left:1px solid #d9d9d9;
}
.cart-index__content .cart-index__content--items {
    padding:16px 0;
}
.cart-index__content .cart-index__content--pricecontainer {
    padding:16px 0 0 16px;
}
.cart-index__content .cart-index__content--pricesection {
   padding:16px 0 0 0; 
   font-weight:14px;
   font-weight: bold;
}
.cart-index__content .cart-index__content--title {
    padding:16px 0 0 0;
}
.cart-index__content--pricesection del {
    padding:0 0 0 12px;
    font-size:12px;
    font-weight:normal;
}
.cart-index__content .cart-index__content--discount {   
    padding:16px 0 0 16px;   
    color: green;
}
a.cart-addtocart {
    position: relative;
    width:150px;
    margin:16px 0 0 0;
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial, serif;
    line-height: 16px;
    font-size: 16px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    overflow: hidden;
    transition: all 0.08s ease-in 0s;
    border-radius: 17px;
    background: #ffcc00;
    border-color: #ffcc00;
    padding:8px 22px;
}
#cart-count {
    float: left;
    margin: 10px 0 0 0;
    padding: 0 0 0 6px;
    color: white;
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
#displayItems {
    padding: 8px 0 0 16px;
    font-weight: 500;
}
/*** content ends **/

/*** footer starts **/
.cart-index__footer {
width: 100%;
padding:8px 15px;
margin-right: auto;
margin-left: auto;
background-color:#33adff;
}
.cart-index__footer .text-center {
    text-align: center!important;
}
/*** footer ends **/
.cart-apply__maxprice {
    float:right;
}
.cart-apply__displayprice,.cart-apply__applybtn {
    display:flex;
    justify-content: center;
}
.slidecontainer a.cart-apply__price,
.slidecontainer a.cart-apply__pricemobi {
    position: relative;
    width:150px;
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial, serif;
    line-height: 16px;
    font-size: 16px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    overflow: hidden;
    transition: all 0.08s ease-in 0s;
    border-radius: 17px;
    background: #0040ff;
    border-color: #0040ff;
    padding:8px 22px;
}
.slidecontainer p {
    padding:16px 0 0 0;
    margin:0;
}

.slider {  
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #3399ff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin:4px 0 0 0;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
}

/*** Mobile Starts ***/
@media (max-width: 768px) {
    .cart-index__content {
        padding:0;
    }
    .cart-item__viewcart {
        margin-left:0 !important;
    } 
    .cart-index__filter--mobi {
        display:block;
        margin:16px 0;
    }
    .cart-index__sortby--mobi {
        height: 60px;
        padding: 10px;
        border: 1px solid #cccccc;
    }
    .cart-index__sortby--mobisortby {
        float: left;
        padding: 8px 5px;
    }
    .cart-index__sortby--mobisortbysection {    
        float: left;
        width: 10px;
        height: 10px;
    }
    .cart-index__sortby--mobisortbysection a {
        color:black;
    }
    .cart-index__content .cart-index__container {
        padding:0;
    }
    .cart-index__slider,
    .cart-index__content--pricecontainer {
        display:none;
    }
    .cart-index__filters--mobi {        
    height: 60px;
    padding: 20px 0 0 40px;
    border: 1px solid #cccccc;
    }
    .cart-index__filters--mobi a {
        padding:5px 0 0 0;
        color:black;
        font-weight:bold;
    }
    .cart-index__filters--mobimodal {
        background:white;
        margin:20px;
    }
    .cart-index__filters--mobimodal .slidecontainer {
        padding:16px;        
    }
}
@media (min-width: 769px) {
    .cart-index__filter--mobi {
        display:none;
    }
    .cart-index__slider,
    .cart-index__content--pricecontainer {
        display:block;
    }
}
/*** Mobile Ends ***/
